<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LifeiOS</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/components.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/utilities.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />

    <link rel="stylesheet"
          href="~/LifeiOS.styles.css"
          asp-append-version="true" />

</head>

<body>


    <!-- Navbar -->
    <partial name="_Navbar" />

    <!-- Sidebar -->
    <partial name="_Sidebar" />

    <!-- Main Content -->
    <main class="main-content">

        @RenderBody()

    </main>

    <!-- Scripts -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js"
            asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>