@{
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
}
<aside class="sidebar">

    <!-- Sidebar Header -->

    <div class="sidebar-header">

        <h4>Menu</h4>

    </div>

    <!-- Navigation -->

    <ul class="sidebar-menu">
        <li>
            <a asp-controller="Profile"
               asp-action="Index"
               class="@(controller == "Profile" ? "active" : "")">
                <span>Profile</span>
            </a>
        </li>

        <li>

            <a asp-controller="Dashboard"
               asp-action="Index"
               class="@(controller == "Dashboard" ? "active" : "")">
               @* class="active"> *@

                <i class="bi bi-speedometer2"></i>

                <span>Dashboard</span>

            </a>

        </li>

        <li>

            <a asp-controller="Tasks"
               asp-action="Index"
               class="@(controller == "Tasks" ? "active" : "")">

                <i class="bi bi-check2-square"></i>

                <span>Tasks</span>

            </a>

        </li>

        <li>

            <a asp-controller="Notes"
               asp-action="Index"
               class="@(controller == "Notes" ? "active" : "")">

                <i class="bi bi-journal-text"></i>

                <span>Notes</span>

            </a>

        </li>

        <li>

            <a href="#">

                <i class="bi bi-arrow-repeat"></i>

                <span>Habits</span>

            </a>

        </li>

        <li>

            <a href="#">

                <i class="bi bi-bullseye"></i>

                <span>Goals</span>

            </a>

        </li>

        <li>

            <a href="#">

                <i class="bi bi-wallet2"></i>

                <span>Expenses</span>

            </a>

        </li>

        <li>

            <a href="#">

                <i class="bi bi-calendar-event"></i>

                <span>Calendar</span>

            </a>

        </li>

    </ul>

</aside>